@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@300&display=swap');

body,
p,
ul,
ol,
dl {
    font-family: 'Montserrat', sans-serif;

}

.me-3 {
    background: #2D4152 0% 0% no-repeat padding-box;
    opacity: 1;
    top: 0px;
    left: 0px;
}

h1 {
    top: 403px;
    left: 130px;
    width: 1100px;
    height: 60px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 48px/60px;
    letter-spacing: 4.8px;
    color: #FFFFFF;
    opacity: 1;
}

.carousel-caption {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start !important;
}

.footer {
    padding-top: 10px;
    padding-bottom: 700px;
    margin-top: 10px;
}

h2 {
    text-align: center;
    font: normal normal bold 32px/39px;
    letter-spacing: 0px;
    color: #2D4152;
    opacity: 1;
    padding-top: 30px;
    padding-bottom: 20px;
}

.text-center {
    font: normal normal normal 15px/22px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding-bottom: 40px;
}

h5 {
    text-align: left;
    font: normal normal bold 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #2D4152;
    opacity: 1;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #2D2D2D;
    opacity: 1;

}

.planet-img-size {
    top: 0px;
    left: 0px;
    width: 100px;
    height: 80px;

    opacity: 1;
}

.White {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
    justify-content: center !important;


}

.grey-background {
    background: #EFF0F5 0% 0% no-repeat padding-box;
    padding-top: 50px;
    padding-bottom: 50px;
}

.section2-size {
    opacity: 1;
    top: 1379px;
    /* left: 0px;
    width: 1920px; */
    height: 522px;
}

.center_h5 {
    text-align: center;
    padding-top: 30px;
}

.my-default {
    margin-top: 100px;
    margin-bottom: 100px;
}

h4 {
    margin-bottom: 15px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 26px/32px Montserrat;
    color: #2D4152;
}

.finish {

    text-align: left;
    font: normal normal normal 16px/28px;
    letter-spacing: 0px;
    color: #2D2D2D;
    opacity: 1;

}

.finish-size {

    height: 327px;
}

.background-blue {
    background: #2D4152 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 361px;
}

.Emblem {
    text-align: left;
    font: normal normal normal 12px/34px Lato;
    letter-spacing: 0px;
    color: #A4A4A4;
    opacity: 1;
    top: 2607px;
    left: 375px;
    width: 191px;
    height: 15px;

}

.Adress {
    text-align: left;
    font: normal normal bold 20px/24px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    /* top: 2567px;
    left: 1175px; */
    width: 170px;
    height: 26px;
}

li {
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;

}

.blue-container {
    background-color: #2D4152;
    padding: 20px 40px;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

#header-container {
    padding: 0;
}

.p_adress {
    color: #FFFFFF;

}

.Emblem-margin {
    margin-top: 50px;


}

.Adress-margin {
    margin-top: 76px;


}